node_modules

## frontend

# dependencies
packages/frontend/.pnp
packages/frontend.pnp.js

# testing
packages/frontend/coverage
packages/frontend/build

# frontend
packages/frontend/yarn-debug.log*
packages/frontend/yarn-error.log*

# hardhat
packages/hardhat/cache
packages/hardhat/*.txt
packages/hardhat/.openzeppelin
packages/hardhat/artifacts

# subgraph
packages/subgraph/subgraph.yaml
packages/subgraph/generated
packages/subgraph/build
packages/subgraph/abis
packages/subgraph/config/config.json
packages/subgraph/config/config.ts
packages/frontend/src/contracts

docker/graph-node/data

# misc
.DS_Store
.env.*
.vscode
