node_modules

## frontend

# dependencies
packages/frontend/.pnp
packages/frontend.pnp.js

# testing
packages/frontend/coverage
packages/frontend/build

# misc
packages/frontend/.DS_Store
packages/frontend/.env.*

packages/frontend/yarn-debug.log*
packages/frontend/yarn-error.log*
