node_modules

## frontend

# dependencies
packages/frontend/.pnp
packages/frontend.pnp.js

# testing
packages/frontend/coverage
packages/frontend/build


packages/frontend/yarn-debug.log*
packages/frontend/yarn-error.log*


packages/hardhat/cache
packages/hardhat/*.txt
packages/hardhat/.openzeppelin
packages/hardhat/artifacts


packages/subgraph/subgraph.yaml
packages/subgraph/generated
packages/subgraph/abis
packages/subgraph/config/config.json
packages/subgraph/config/config.ts
packages/frontend/src/contracts

# misc
.DS_Store
.env.*
.vscode
